<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <a routerLink="" class="logo">Angular Blog</a>
      <div class="menu-items">
        <a routerLink="" routerLinkActive="active">Posts</a>
        <a [routerLink]="['/notifications']" [state]="{ messages: messages }">
          <mat-icon
            [matBadge]="notificationLength"
            matBadgeSize="large"
            class="demo-section"
            aria-hidden="false"
            aria-label="Notifications, unread"
          >
            notifications
          </mat-icon>
        </a>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column class="main-content">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>
    <p>© {{ currentYear }} Angular Blog - All rights reserved</p>
  </nb-layout-footer>
</nb-layout>
