<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <a routerLink="" class="logo">Angular Blog</a>
      <div class="menu-items">
        <a routerLink="" routerLinkActive="active">Posts</a>
        <a [routerLink]="['/notifications']" [state]="{ messages: messages }">
          <mat-icon
            [matBadge]="notificationLength"
            matBadgeSize="large"
            class="demo-section"
            aria-hidden="false"
            aria-label="Notifications, unread"
          >
            notifications
          </mat-icon>
        </a>
        <ng-container *ngIf="isLoggedIn; else loginLink">
          <div style="display: flex; align-items: center">
            <img [src]="userAvatar" alt="User Avatar" class="avatar" />
            <app-reusable-button
              text="Logout"
              type="submit"
              (click)="logout()"
              variant="submit"
            ></app-reusable-button>
          </div>
        </ng-container>

        <ng-template #loginLink>
          <a routerLink="/login" routerLinkActive="active">Sign In</a>
        </ng-template>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column class="main-content">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>
    <p>© {{ currentYear }} Angular Blog - All rights reserved</p>
  </nb-layout-footer>
</nb-layout>
