<div class="post-container">
  <form [formGroup]="postForm" (ngSubmit)="updatePost()" class="post-form">
    <h2>Edit Post</h2>
    <div>
      <label>Title:</label>
      <input type="text" formControlName="title" />
      <div
        *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched"
        class="error"
      >
        Title is required and must be alphanumeric.
      </div>
    </div>

    <div>
      <label>Body:</label>
      <textarea formControlName="body"></textarea>
      <div
        *ngIf="postForm.get('body')?.invalid && postForm.get('body')?.touched"
        class="error"
      >
        Body is required.
      </div>
    </div>

    <button type="submit" [disabled]="postForm.invalid || submitting">
      Submit
    </button>
  </form>
</div>
